 #sloga {
 width:900px;
 height:auto; overflow:hidden;
 border:0px solid #000;
 margin: auto;
}

header{
 width:900px;
 height:100px;
 border:0px solid;  
}
#logo{
width:200px;
height:100px;
border:0px solid #000;
float:left;
}
.titulo{
font-size: 30px;
margin-top: 25px;
}
.sub{
font-size:14px;
margin-top: -20px; 
}
.menu {
 width:460px;
 height: 40px;
 border:1px solid #ccc;
 float: right;
 margin-top: 40px;
 background: #00FA1A ;
}
.menu ul li{
list-style: none;
float: left;
}

.menu ul li a{
  text-decoration:none;
  padding: 10px 15px;
  border: 0px solid #ccc; 
  color:black;
}
.menu ul li a:hover{
 background: #fff;
 color: #006699;
 transition:background 1s,color 1s;
}




 #slider{
 margin-top: -5px;
 }

 #informe{
 width:900px;
 height: auto;overflow: hidden;
 border:1px solid;
 margin-top: 15px;
 }
 .uno{
 width:280px;
 height:auto;overflow:hidden;
 border: 1px solid;
 float:left;
 padding:5px;
 text-align: center;
 color: #4682b4;
 }
 .parrafo{
  color:#000;
  text-align:justify; 
 }
.dos{
margin-left:12px;
margin-right:12px; 
}
.mas{
	text-decoration: none;
    border: 1px solid #006699;
    padding: 10px 20px  10px 20px;
    margin:10px;
}

 .mas:hover{
 background:#99A3A4;
 color:white;
 transition-background:1s,color 1s;  
}
 #info{
 width:900px;
 height: auto;overflow: hidden;
 border:0px solid #c0c0c0;
 margin-top: 10px;
 }
#izq{
width:585px;
height:auto; overflow:hidden;
border:1px solid #ccc;
float:left;
padding: 5px; color:orange;
}

.img{
margin-right: 7px;
margin-bottom:7px;
}
#dere{
width: 290px;
height: auto;overflow:hidden;
border:1px solid #000;
float:right;
}
footer{
width:900px;
height: 100px; 
text-align: center;
}

#footer p{
width: 500px;
}